<?xml version="1.0" encoding="utf-8" ?>

<bnhmmaps>
    <metadata>
        <name>SDNHM Baja Map Configuration File</name>
        <relatedinformation>bajaflora.org</relatedinformation>
        <abstract>GIS configuration file for SDNHM Baja Flora specimen mapping</abstract>
        <mapkeyword keyword="specimens"></mapkeyword>
        <turnoffiframe iframe="0"></turnoffiframe>


        <header location="http://bajaflora.org/BotanyWebBanner.jpg"></header>
        <linkbackheader location="http://bajaflora.org"></linkbackheader>
        <units key="mi"></units>
        <extent value="-118.6 22.8 -109.3 32.7"></extent>
    </metadata>


<gisdata>
<layer title="Baja Ecological Regions" name="mexeco" location="/data/sdnhm/New_MEX_shp.lyr" legend="1" active="0" />

</gisdata>


    <settings>
        <setting name="landsat" show="0"></setting>
    </settings>


    <colors method="field" fieldname="char255:2" label="Plant #">
        <color key="1" red="0" blue="0" green="255" symbol="7" label="Plant_1" />
        <color key="2" red="255" blue="0" green="0" label="Plant_2" />
    </colors>




    <concepts xmlns:darwin="http://digir.net/schema/conceptual/darwin/2003/1.0">
        <concept order="1" viewlist="1" datatype="char120:1" alias="Date" />
        <concept order="2" viewlist="1" datatype="char120:2" alias="Collector" />
        <concept order="9" viewlist="1" datatype="char120:3" alias="Coll_Num" />
        <concept order="3" viewlist="1" datatype="char120:4" alias="Genus" />
        <concept order="4" viewlist="1" datatype="char120:5" alias="Species" />
        <concept order="9" viewlist="1" datatype="char120:6" alias="Rank" />
        <concept order="5" viewlist="1" datatype="char120:7" alias="Infra" />
        <concept order="6" viewlist="1" datatype="char120:8" alias="Phen" />
        <concept order="6" viewlist="1" datatype="char255:1" alias="SD_Num" />
        <concept order="9" viewlist="0" datatype="darwin:decimallatitude" alias="DecimalLatitude" />
        <concept order="9" viewlist="0" datatype="darwin:decimallongitude" alias="DecimalLongitude" />
        <concept order="8" viewlist="1" datatype="char255:2" alias="Plant" />
    </concepts>

   

</bnhmmaps>
