<?xml version="1.0" encoding="utf-8" ?>

<bnhmmaps>
    <metadata>
        <name>SDNHM PA Map Configuration File</name>
        <relatedinformation>sdplantatlas.org</relatedinformation>
        <abstract>GIS configuration file for SDNHM Plant Atlas specimen mapping</abstract>
        <mapkeyword keyword="specimens"></mapkeyword>
        <turnoffiframe iframe="0"></turnoffiframe>


        <header location="http://sdplantatlas.org/header.jpg"></header>
        <linkbackheader location="http://sdplantatlas.org"></linkbackheader>
        <units key="mi"></units>
        <extent value="-117.7 32.5 -116.0 33.6"></extent>
    </metadata>


<gisdata>
<layer title="Atlas Grid" name="plant_atlas_grid" location="/data/sdnhm/plant_atlas_grid.lyr" legend="1" active="0" />
<layer title="Ecological Regions" name="sd_ecoregions" location="/data/sdnhm/Ecology_Subregions.lyr" legend="1" active="0" />
<layer title="Jepson Ecoregions (California)" name="jepslice" location="/data/ucjeps/jepslice2.lyr" legend="1" active="0" />
</gisdata>


    <settings>
        <setting name="landsat" show="0"></setting>
    </settings>


    <colors method="field" fieldname="char255:2" label="Verified?">
        <color key="Yes" red="0" blue="0" green="255" symbol="7" label="Verified" />
        <color key="No" red="255" blue="0" green="0" label="Not Verified" />
    </colors>




    <concepts xmlns:darwin="http://digir.net/schema/conceptual/darwin/2003/1.0">
        <concept order="1" viewlist="1" datatype="char120:1" alias="Date" />
        <concept order="2" viewlist="1" datatype="char120:2" alias="Square" />
        <concept order="9" viewlist="0" datatype="char120:3" alias="Family" />
        <concept order="3" viewlist="1" datatype="char120:4" alias="Genus" />
        <concept order="4" viewlist="1" datatype="char120:5" alias="Species" />
        <concept order="9" viewlist="0" datatype="char120:6" alias="Rank" />
        <concept order="5" viewlist="1" datatype="char120:7" alias="Infra" />
        <concept order="6" viewlist="1" datatype="char120:8" alias="Phen" />
        <concept order="6" viewlist="1" datatype="char255:1" alias="Index" />
        <concept order="9" viewlist="0" datatype="darwin:decimallatitude" alias="DecimalLatitude" />
        <concept order="9" viewlist="0" datatype="darwin:decimallongitude" alias="DecimalLongitude" />
        <concept order="8" viewlist="1" datatype="char255:2" alias="Ver" />
    </concepts>

   

</bnhmmaps>
