a:link {text-decoration: none; font-size:11px;};
a:visited {text-decoration: none; font-size:11px;}
a:active {text-decoration: none; font-size:11px;}
a:hover {text-decoration: underline; color: red; font-size:11px;}

html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    overflow:hidden;
}

#top, #footer {
    margin: 0;
    padding: 0px;
    height: 0px;
    color: #333;
    background-color: #ddd;
}

#top h1 {
    margin: 0;
}

#bigContainer {
    min-width: 500px;
    min-height: 300px;
    height: 100%;
    overflow:hidden;
}
.vsplitbar {
    width: 5px;
    background: #aaa;
}
.hsplitbar {
    height: 5px;
    background: #aaa;
}

#mapContainer {
    height: 100%;
    overflow:auto;
    z-index=1;
}

#leftContent {
    height: 90%;
    overflow:auto;
}

#leftContainer {
    padding: 8px;
    width: 200px;
    max-width: 200px;
}

#bottomContainer {
    padding-top: 8px;
    height: 100px;
    max-height: 300px;
    min-height: 0px;
    overflow:auto;
}

#styleOptions {
    font-size:11px;
    overflow:auto;
}

select {
  font-family: inherit;
}

#content {
    font-size:11px;
}
#address {
    font-size:11px;
}
#addressbutton {
    font-size:11px;
}
#addressControl {
    display:none;
}
#layers {
    font-size:11px;
}

#download {
    font-size:11px;
}
#myColors {
    font-size:11px;
}

.markerImgDiv {
    float:left;
    padding-right: 4px;
}
.markerText {
    float:left;
    font-size:11px;
}
#markerImg {
    height: 20px;
}

#loadingMsg {
    display:block;
    width:180px;
    z-index=99;
    background-color:yellow;
    margin:0px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    //overflow-style: marquee;
    //marquee-style: alternate;
    //marquee-loop: infinite;
    //overflow-x: -webkit-marquee;
    //-webkit-marquee: backwards medium infinite alternate normal;
}

#styleOptionsCheckboxes {
    display:none;
      font-size:11px;
}