html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    overflow:hidden;
}

#top, #footer {
    margin: 0;
    padding: 0px;
    height: 0px;
    color: #333;
    background-color: #ddd;
}

#top h1 {
    margin: 0;
}

#bigContainer {
    min-width: 500px;
    min-height: 300px;
    height: 100%;
    overflow:auto;
}
.vsplitbar {
    width: 5px;
    background: #aaa;
}
.hsplitbar {
    height: 5px;
    background: #aaa;
}

#mapContainer {
    height: 100%;
    overflow:auto;
}

#leftContent {
    height: 90%;
    overflow:auto;
}

#leftContainer {
    padding: 8px;
    width: 150px;
    max-width: 300px;
}

#bottomContainer {
    padding-top: 8px;
    height: 150px;
    max-height: 400px;
    min-height: 50px;
    overflow:auto;
}

#styleOptions {
    font-size:11px;
    overflow:auto;
}

select {
  font-family: inherit;
}

#content {
    font-size:11px;
}

#layers {
    font-size:11px;
}

#download {
    font-size:11px;
}
#myColors {
    font-size:11px;
}

.markerImgDiv {
    float:left;
    padding-right: 4px;
}
.markerText {
    float:left;
    font-size:11px;
}
#markerImg {
    height: 20px;

}

a:link {text-decoration: none; font-size:11px;};
a:visited {text-decoration: none; font-size:11px;}
a:active {text-decoration: none; font-size:11px;}
a:hover {text-decoration: underline; color: red; font-size:11px;}