* {
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Roboto, Arial, sans-serif;
}

.ui-widget-content {
    background: #F9F9F9;
    border: 0.5px solid #000000;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#success {
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    font-size: 13px;
    #background: #f7941e;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 2 2;
    position: relative;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: red;
}

#resultsDialog {
    overflow-y: auto;
}

html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    overflow: hidden;
}

#top, #footer {
    margin: 0;
    padding: 0px;
    height: 0px;
    color: #333;
    background-color: #ddd;
}

#top h1 {
    margin: 0;
}

#bigContainer {
    min-width: 500px;
    min-height: 300px;
    height: 100%;
    overflow: hidden;
}

.selector-control {
    line-height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    height: 27px;
}

.map-control {
    background-color: #fff;
    margin-top: 4px;
    margin-left: 0px;
}

#legendDialog {
    overflow-y: auto;
}

#mapContainer {
    height: 100%;
    overflow: auto;
    z-index: 1;
}

select {
    font-family: inherit;
}

#addressControl {
    display: none;
}

#layers, #download, #myColors, #styleOptions, #displayOptions, #information {
    margin: 5px 5px 5px 5px;
    overflow: auto;
}

label.dropdown select {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {

    position: absolute;
    pointer-events: none;
    display: block;
}

label.dropdown {
    position: relative;
}

label.dropdown:after {
    position: absolute;
    pointer-events: none;
}


#legendText {
    margin: 5px 0px 5px 5px;
    overflow: auto;
}

.markerImgDiv {
    float: left;
    padding-right: 4px;
}

.markerText {
    float: left;
    font-size: 11px;
}

#markerImg {
    height: 20px;
}

#loadingMsg {
    display: block;
    width: 180px;
    z-index: 99;
    background-color: yellow;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#styleOptionsCheckboxes {
    display: none;
}

.close {
    text-indent: -99em;
    overflow: hidden;
}

tr td {
    font-size: 11px;
    padding: 0 !important;
    margin: 0 !important;
}

th {
    padding: 2 !important;
    margin: 2 !important;
}